<!DOCTYPE html>
<html>
  <head>
    <title>PintApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">PintApp</a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <% if signed_in? %>
            <li class="mr-4"> <%= link_to "Nuevo Pin", new_pin_path %> </li>
            <li> <%= link_to "Salir", destroy_user_session_path %> </li>
          <% else %>
            <li class="mr-4"> <%= link_to "Registrate", new_user_registration_path %> </li>
            <li> <%= link_to "Iniciar sesión", new_user_session_path %> </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
